<div class="mat-elevation-z2">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <!-- mat-sort-header -->
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>
        <!-- Family Column -->
    <ng-container matColumnDef="family">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Family</th>
      <td mat-cell *matCellDef="let row">{{ row.family }}</td>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
      <th *matHeaderCellDef mat-header-cell>{{'actions'}}</th>
      <td *matCellDef="let row" mat-cell>
        <button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="showDetails(row)">
            details
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator #paginator [length]="(dataSource.users$| async)?.length" [pageIndex]="0" [pageSize]="5"
    [pageSizeOptions]="[5, 10]" aria-label="Select page">
  </mat-paginator>
</div>